img{
    width: 210px;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-size: 20px;
}
div{
    display: flex;
}
.baba{
    display: flex;
}
h15{
    background-color: aqua;
    margin:  70px;
    border-radius: 30px;
    font-size: 20px;
}
a{
    background-color: yellow;
    border-radius: 30px;
}
